html,
body {
  height: 100%;
}

body {
  color: #fff;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.5;
  background-color: white;
  background-size: 11.25rem, 100%;
  background-position: center, center;
  background-repeat: repeat, no-repeat;
  }

a {
  font-weight: bold;
  text-decoration: none;
  color: #2b00ff;
  border-bottom: 4px solid;
}

strong {
  font-weight: bold;
}

ul {
  padding: 1rem;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  margin-top: 50px;
  position: relative;
  width: 195px;
  height: 241px;
  perspective: 1000;
  align-items: center;
  justify-content: center;
}

.image,
.shadow {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.image {
  border-radius: 2px;
  background-color: #fff;
  background-position: center;
  background-size: cover;
  background-image: url("media/img/bentley.png");
  z-index: 100;
}

.shadow {
  background-color: rgba(0, 0, 0, 0.2);
  filter: blur(12px);
  z-index: 0;
}



