body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


#AppNavBar {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#DrivingModeButtons {
    position : fixed;
    right:10px;
}

